/* .egg-selector-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.egg-selector-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    row-gap: 50px;
}

.eggName{
    display: flex;
    justify-content: center;
}

.eggItem a{
    text-decoration: none;
    color: black
} */
.page-container {
    height: 100%;
}

.page-content {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.egg-selector-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.egg-card {
    text-align: center;
    margin: 20px;
    min-width: 100px;
}

.eggIcon {
    height: 90px;
    width: 100px;
}

.eggItem a {
    text-decoration: none;
    color: black
}

.eggName {
  font-family: 'Courier Prime', sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

@media screen and (max-height: 760px) {
    .egg-card {
        margin: 10px;
        width: 70px;
    }
    .eggIcon {
        height: 70px;
        width: 70px;
    }
    .eggName {
        margin: 5px;
        font-size: 1rem;
    }
    .page-content {
        height: 75%;
    }
    h2 {
        font-size: 1.8rem;
    }
}