.btn-main {
        font-family: $bodyFont;
        font-size: 1.3rem;
        border: 3px solid $black;
        border-radius: 45px;
        padding: 5px 37px;
        text-decoration: none;
        color: black;
}

button {
    border: none;
}

.btn-back{
    margin-top: 25px;
    flex-direction: column;
    
    .icon-chevron-left {
        font-size: 50px;
    }
}

.btn-timer {
        font-family: $bodyFont;
        font-size: 1rem;
        font-weight: bold;
        border: 2px solid $black;
        border-radius: 45px;
        padding: 3px 30px;
        margin: 10px;
        text-decoration: none;
        color: black;
}

