* {
    background: $background;
}

body, html, #root {
    margin: 0;
    padding: 0;
    height: 100%;
}

h2 {
    font-family: 'Domine', serif;
    font-size: 2.5rem;
    padding-right: 30px;
    margin-bottom: 0;
    letter-spacing: -3px;
}

@media screen and (max-width: 375px) {
      h2 {
          font-size: 2rem;
      }
}

.page-header {
    display: flex;
}

.header-text-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-logo {
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}