// =============================================================================
// COLOURS
// =============================================================================
$background: #FFE135;
$black: #000;


// =============================================================================
// FONTS
// =============================================================================
$headerFont: 'Domine', serif;
$subHeaderFont: 'Abel', sans-serif;
$bodyFont: 'Courier Prime', sans-serif;