.egg-timer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.countdown-text {
    font-family: 'Domine', serif;
    font-weight: bold;
    font-size: 3rem;
    margin: 20px;
}

.instructions{
    width: 55%;
}

.instructions-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center
}

.page-container-alarm{
    height:100%;
    animation: blinkingBackground 2s infinite;
    -webkit-animation: blinkingBackground 2s infinite;
}

@keyframes blinkingBackground{
    0%		{ background-color: #c01010;}
    25%		{ background-color: #fafafa;}
    50%		{ background-color: #c01010;}
    75%		{ background-color: #fafafa;}
    100%	        { background-color: #c01010;}
}
@-webkit-keyframes blinkingBackground{
    0%		{ background-color: #c01010;}
    25%		{ background-color: #fafafa;}
    50%		{ background-color: #c01010;}
    75%		{ background-color: #fafafa;}
    100%	        { background-color: #c01010;}
}
