.egg-selector-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.egg-selector-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    row-gap: 50px;
}

.eggName{
    display: flex;
    justify-content: center;
}

.eggItem a{
    text-decoration: none;
    color: black
}