.page-content {
    display: flex;
    flex-direction: column;
    font-family: 'Courier Prime', sans-serif;
}

.page-content a {
    font-size: 1.3rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
}